
:root
  --font-text: normal normal 300 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
  --font-title: normal normal 400 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
  --font-extra: normal normal 300 normal 13px / normal -apple-system, "Segoe UI", system-ui, Roboto, "Noto Sans", "Helvetica Neue", sans-serfi
  --font-mono: normal normal 300 normal 11px / normal SFMono-Regular, Menlo, Monaco, Consolas,  "Nimbus Mono L", "Tlwg Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace


body
	font: var(--font-text)

header
	display: flex
	h1
		font-size: 1.3rem

main
	display: flex
	gap: 1rem
	width: 32rem